@{

    @model List<Product>

    @using (Html.BeginForm("buyProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="container">
                <h2>Products</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vendor</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td> <input type="hidden" name="Vendor" value="@product.Vendor" />@product.Vendor</td>
                                <td> <input type="hidden" name="Vendor" value="@product.Model" />@product.Model</td>
                                <td><button>Compra ora</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }




}
